<%- include("sidebar") -%>
<% if (typeof invalid !== 'undefined' && invalid) { %>
     <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <%= invalid %>
     </div> 
  <% } %>
<div style="margin: 10px">
<h1 style="text-align: center; font-size: 6vh; margin: 0;">Edit Reservations</h1>
</div>
<hr style="color: #CF8E8E; margin: 0">

<div class="flex-container">
    <div class="flex-child">
        <h3>Change Name</h3>
        <div style="justify-content: center; align-content: center; display: flex">
            <form action = "/name" method="POST" class="table-form">
                <label for="fname"> Full Name: </label>
                <input class="contact-form" type="text" id="fname" name="fname" value="<%= fullName %>" required />
                <br><br>
                <input class="edit-button" style="margin-bottom: 10vw" type="submit" value="CHANGE NAME" />
            </form>
            <hr class="hidden-hr">
        </div>

    </div>

    <div class="flex-child">
        <h3>Change Email</h3>
        <div style="justify-content: center; align-content: center; display: flex">
            <form action = "/change" method="POST" class="table-form">
                <label for="oldEmail"> Current Email: </label>
                <input class="contact-form" type="email" id="oldEmail" name="oldEmail" value="<%= theEmail %>" disabled />
                <br><br>
                <label for="newEmail"> New Email: </label>
                <input class="contact-form" type="email" id="newEmail" name="newEmail" required /> <br>
                <br><br>
                <input class="edit-button" type="submit" value="CHANGE EMAIL" />
            </form>
        </div>
    </div>

</div>

<br>
<hr style="margin: 0;">

<div style="text-align: center">
    <h3>Cancel Reservations</h3>

    <form action = "/delete" method="POST" class="cancel-form">
        <% for (i=0;i<date.length; i++){%>
            <% let sqlDate = date[i]; %>
            <% let parts = sqlDate.split('-'); %>
            <% let formattedDate = `${parts[2]}/${parts[1]}/${parts[0]}`; %>

            <label for="<% "date" + i %>" > <%= (i+1) + ") " + formattedDate + " at " + time[i] %> </label>
            <input type="checkbox" class="checkmark" id="<% "date" + i %>" name="<% "date" + i %>" value="<%[sqlDate,time[i]]%>">
            <br>
        <% }%>
            <br>
            <input class="edit-button" style="color: #f23c48" type="submit" value="CANCEL RESERVATIONS" />
    </form>

    <br>
    <br>
</div>



</div>

</body>
</html>

